* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}
.image-box {
  transform: none !important;
  width: 280px;
  height: 280px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.question-container {
  position: relative;
  z-index: 1000;
  margin-top: 60px;
  text-align: center;
  padding-bottom: 140px;
  position: relative;
  z-index: 2;
}

.local-gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 3rem auto;
  pointer-events: none;
  position: relative;
  z-index: 3;
}

.question {
  font-size: 2.2rem;
  text-align: center;
  color: #ff4da6;
  text-shadow: 0 0 10px rgba(255, 77, 166, 0.6);

  max-width: 320px;
  margin: 0 auto 20px auto;

  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  min-height: 60px;
}
.question-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-container {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}

/* ===== NÚT CHUNG ===== */

.btn {
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  transform: scale(1);
}

/* ===== YES XANH ===== */

.yes-btn {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  box-shadow: 0px 4px 15px rgba(76, 175, 80, 0.5);
}

.yes-btn:hover {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #66bb6a;
  transform: scale(1.1);
}

/* ===== NO ĐỎ ===== */

.no-btn {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4d4d;
  box-shadow: 0px 4px 15px rgba(255, 77, 77, 0.5);
}

.no-btn:hover {
  background-color: #ff8080;
  transform: scale(1.1);
}

/* ===== RESULT ===== */

.result-container {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 2;
}

.gif-result {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 2rem auto;
  position: relative;
  z-index: 3;
}

.result-container h2 {
  position: relative;
  z-index: 1000;
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  text-align: center;
  color: #ff4da6;
  text-shadow: 0 0 10px rgba(255, 77, 166, 0.6);

  max-width: 320px;
  margin: 0 auto;

  line-height: 1.3;
  min-height: calc(1.3em * 2);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== LOADING HEART ===== */

.cssload-main {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===== TIM BAY ===== */

.floating-hearts {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.heart {
  filter: blur(1px);
  position: absolute;
  bottom: -100px;
  opacity: 0.7;
  animation: floatUp linear forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
.dark-mode {
  background-color: black;
  transition: background 0.5s ease;
}
.dark-mode .result-container h2 {
  color: #ff4da6;
}

.dark-mode .gif-result {
  filter: brightness(1.1);
}